<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * made with 💪 by Tenkaklet * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * *  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- Jumbotron -->
<div class="p-6 shadow-lg rounded-lg m-2">
    <h2 class="font-semibold text-3xl mb-5">Hello world!</h2>
    <p>
      This is a simple starter template for Tauri with Angular.
    </p>
    <hr class="my-6 border-gray-300" />
      Some Features:
      <ul>
        <li>Tailwind CSS</li>
        <li>Tailwind Elements</li>
        <li>Ripple UI</li>
        <li>Angular Router</li>
      </ul>
      <br>
      <p>Things to remember</p>
      <ul>
        <li>
            Changes in the <code>tauri.conf.json</code>:
            <p>1. Product Name</p>
            <p>2. Identifier</p>
            <p>1. Product Title</p>
        </li>
        Changes in the <code>package.json</code>:
        <li>1. Name</li>
      </ul>
  </div>
<router-outlet></router-outlet>
